@model MvcPCHR.Models.LoginViewModel
@{
    ViewData["Title"] = "Index";
}
<div>
    @ViewBag.ConnectionString
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Your Health Record!</h1>
</div>
<hr />

    <script>
        // This script using javascript checks if each textbox is filled
        function validateForm() {
            let x = document.forms["loginform"]["Username"].value;
            let y = document.forms["loginform"]["Password"].value;
            if (x == "" || y == "") {
               alert("All textboxes must be filled!");
                return false;
            }
            return true;
        }
    </script>
<div class="row">
    <div class="text-center">
        <!-- using POST for the method, since GET would expose the user's password through the url and in the default server logs-->
        <!-- <form name="loginform" action="home/Validate" -->
        <!--
            <form asp-controller="Home" asp-action="Account" name="loginform" onsubmit="return validateForm()" method="post">
            <label for="username"> Username </label> <br>
            <input type="text" id="username" name="Username" placeholder="Enter Username..." class="mytext"> <br>
            <label for="password"> Password </label> <br>
            <input type="password" id="password" name="Password" placeholder="Enter Password..." class="mytext">
            -->

        <form asp-action="Account" asp-controller="Home" name="registerform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <!-- use the name "login" or "submit" for error handling when we use in C#-->
        <div class="form-group">
            <button type="submit" name="login" class="btn btn-primary">Login</button>
            <!-- class="loginbutton" --> 
           <!-- <input type="submit" name="submit" value="Login" /> -->
        </div>
        </form>
        <br />
        <h2> New User? </h2>
        <br />
        <button type="submit" name="register" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Register") + "'");">Register</button>
    </div>
 </div>

 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}