@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us. The information you provide on this web site is
    protected by federal laws. To learn more about how your rights to privacy are being protected,
    please contact our Customer Service Department.
</p>
