@model MvcPCHR.Models.PatientTbl
@* @model MvcPCHR.Models.RegisterViewModel *@

@{
    ViewData["Title"] = "Index";
}
<script>
        // This script using javascript checks if each textbox is filled
        // dont need this script as data annoatations and onsubmit can handle this
        function validateForm() {
            let x = document.forms["registerform"]["Username"].value;
            let y = document.forms["loginform"]["Password"].value;
            if (x == "" || y == "") {
               alert("All textboxes must be filled!");
                return false;
            }
            return true;
        }
</script>
<style>
    h2 { 
        margin-right: 350px;
    }
</style>

<h1>Register</h1>

<!-- <h4>PatientTbl</h4> -->
<hr />

<div class="row">
    <!-- <div class="col-md-4"> -->
    <div class="text-center">
        
        <form asp-action="Index" name="registerform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Login Details</h2>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            
            </div>
            <br />
            <br />
            <h2>Personal Details</h2>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"> Identity Number</label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="DateOfBirth" input type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onsubmit="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Clear List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
